<!DOCTYPE html>
<html>
<head>
  <title>CQI CMS | {{ title }}</title>
</head>
  <h1>Welcome to the CQI CMS</h1>
  <ul id='links'>
    <li><a href='/'>Home</a></li>
    <li><a href='http://localhost:3000/hello'>Hello</a></li>
    <li><a href='http://localhost:3000/bye'>Goodbye</a></li>
    <li class='active'><a href='http://localhost:3000/users'>Users</a></li>
  </ul>

  <h2>User List</h2>
  <ul id='users'>

  </ul>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</html>
